<mat-card *ngIf="character" class="characterCardContainer">
    <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{character.name | uppercase}} Details</mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <!-- <div class="spriteImage"></div> -->
        <div><span>Character Appearance: </span><img [className]="character.name + 'Character'" src="../../assets/0x72_16x16DungeonTileset.v4.png"></div>
        <div><span>Character Description: </span>{{character.description}}</div>
    </mat-card-content>
    <mat-card-actions>
        <button *ngIf="character.drafted" mat-raised-button color="warn" (click)="deployCharacter(character)">Deploy this unit</button>
        <button *ngIf="!character.drafted" mat-raised-button color="warn" (click)="draftCharacter(character)">Draft this unit</button>
    </mat-card-actions>
</mat-card>
  


