  <mat-card>
    <mat-card-header>
      <mat-card-title>Character List</mat-card-title>
      <mat-card-subtitle>These characters are available to build your army!</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
        <div *ngFor="let character of characters">
            <app-charactercard [character]="character" [phase]="phase"></app-charactercard>
        </div>
    </mat-card-content>
</mat-card>
