
@import '~@angular/material/theming';

@include mat-core();

$boardgame-primary-palette: (
    50 : #e8e7ef,
    100 : #c6c2d7,
    200 : #a099bd,
    300 : #7a70a2,
    400 : #5e528e,
    500 : #41337a,
    600 : #3b2e72,
    700 : #322767,
    800 : #2a205d,
    900 : #1c144a,
    A100 : #9586ff,
    A200 : #6953ff,
    A400 : #3c20ff,
    A700 : #2607ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$boardgame-warn-palette: (
    50 : #f4e7e4,
    100 : #e3c4bc,
    200 : #d19d90,
    300 : #bf7663,
    400 : #b15841,
    500 : #a33b20,
    600 : #9b351c,
    700 : #912d18,
    800 : #882613,
    900 : #77190b,
    A100 : #ffb0a8,
    A200 : #ff8275,
    A400 : #ff5342,
    A700 : #ff3c29,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #ffffff,
    )
);
$boardgame-accent-palette: (
    50 : #fff9e9,
    100 : #fff1c8,
    200 : #ffe8a3,
    300 : #ffde7e,
    400 : #ffd762,
    500 : #ffd046,
    600 : #ffcb3f,
    700 : #ffc437,
    800 : #ffbe2f,
    900 : #ffb320,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffeecf,
    A700 : #ffe4b6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$boardgame-primary: mat-palette($boardgame-primary-palette, 500);
$boardgame-accent: mat-palette($boardgame-accent-palette, 500);
$boardgame-warn: mat-palette($boardgame-warn-palette, 500);

$boardgame-theme: mat-dark-theme((
  color: (
    primary: $boardgame-primary,
    accent: $boardgame-accent,
    warn: $boardgame-warn,
  )
));
@include angular-material-theme($boardgame-theme);


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
